<div>Phase: <span class="status">{{type}}</span></div>
<div>Touches: <span class="status">{{touches.length}}</span></div>
<div>Touch name: <span class="status">{{gesture}}</span></div>
{{#each touches}}
    <div>Touch# <span>{{id}}</span>: <span class="status">{{origin.x}} -- {{point.x}}, {{origin.y}} -- {{point.y}}</span></div>
{{/each}}
{{#if combinedTouch}}
    <div style="outline:.1em solid lime;width:{{combinedTouch.width}}px;height:{{combinedTouch.height}}px;position:fixed;top:{{combinedTouch.top}}px;left:{{combinedTouch.left}}px"></div>
{{/if}}