<div>Phase: <span class="status">{{type}}</span></div>
<div>Start point: <span class="status">{{xs}}, {{ys}}</span></div>
<div>Touches: <span class="status">{{touches.length}}</span></div>
{{#each touches}}
    <div>Touch# <span>{{id}}</span>: <span class="status">{{x}}, {{y}}</span></div>
{{/each}}
{{#if gesture.rect}}
    <div style="outline:.1em solid lime;width:{{gesture.rect.width}}px;height:{{gesture.rect.height}}px;position:fixed;top:{{gesture.rect.top}}px;left:{{gesture.rect.left}}px"></div>
{{/if}}