<div>Phase: <span class="phase">{{phase}}</span></div>
<div>Start point: <span class="start">{{xs}}, {{ys}}</span></div>
<div>point: <span class="status">{{x}}, {{y}}</span></div>
<div>Status: <span class="status">{{status}}</span></div>
<div>Gesture: <span class="gesture">{{gesture}}</span></div>