<div>Phase: <span class="status">{{type}}</span></div>
<div>Start point: <span class="status">{{xs}}, {{ys}}</span></div>
<div>Touches: <span class="status">{{touches.length}}</span></div>
{{#each touches}}
    <div>Touch# <span>{{id}}</span>: <span class="status">{{x}}, {{y}}</span></div>
{{/each}}
<div>Status: <span class="status">{{status}}</span></div>
<div>Gesture: <span class="status">{{gesture}}</span></div>